//Code Jade

doctype html
html(lang="en")
  head
    title= "Mon site"
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    //- Bootswatch Theme
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    //-link(rel='stylesheet' href='fontawesome-free-5.15.3-web/css/all.css')
    body(style='background-color:#a5c6d8;')
            //-p.fa.fa-reddit(aria-hidden='true')
            p.text-center
                a(href= "/")  
                    img.img-fluid(src='https://upload.wikimedia.org/wikipedia/fr/thumb/5/58/Reddit_logo_new.svg/1200px-Reddit_logo_new.svg.png' alt='Responsive image' style='height: 100px' class="img-fluid")
            b.font-weight-bold Mateo Lopez et Martin Héliot
            br
            //-Activités une fois connecté
            if ((name) || (session)) 
                    .col-md-2.col-sm-6.col-xs-12           
                        a(href="/?lien=1")  
                            button.btn.btn-outline-danger(type='button')  Partager un lien
                        if (lien)
                            form(action="/add_link" method="POST") 
                                    p Entrez votre lien à partager
                                    div     
                                        input(name="lien" size="20")
                                    p Entrez une description à votre lien
                                    div     
                                        textarea(name="description" size="20")
                                    div     
                                        input(type="submit" value="Valider")
                        if (lien_envoi == 1)
                            p.text-warning Votre lien a été partagé avec succès !
                        if (lien_envoi == 2)
                            p.text-danger Entrez un lien valide !
                        if (lien_envoi == 3)
                            p.text-danger Donnez une description pour votre lien 
                    .col-md-4.col-sm-6.col-xs-12
                        if (sujet != "mes_liens" && sujet != "link")
                            .panel-danger.panel-default
                                .panel-heading.text-center
                                    text TENDANCES 24 HEURES
                            br
                            each liens in lien_24heures
                                .panel.panel-default
                                    .panel-heading.text-center
                                        a(href="/?sujet=link&link_id="+liens.link_id) 
                                            div=liens.name
                                    .panel-body.text-center 
                                        div=liens.nb_commentaire_link + " commentaires et "+liens.nb_upvote_link +" upvotes."
                        if (sujet != "mes_liens" && sujet != "link")
                            .panel-danger.panel-default
                                .panel-heading.text-center
                                    text TENDANCES ALL TIME
                            br
                            each liens in lien_all_time
                                .panel.panel-default
                                    .panel-heading.text-center
                                        a(href="/?sujet=link&link_id="+liens.link_id) 
                                            div=liens.name
                                    .panel-body.text-center 
                                        div=liens.nb_commentaire_link + " commentaires et "+liens.nb_upvote_link +" upvotes."
                    .col-md-4.col-sm-6.col-xs-12
                        if (sujet != "mes_liens" && sujet != "link")
                            .panel.panel-default
                                .panel-heading.text-center
                                    text Nouveautés
                            div Section résumant les nouveautés depuis sa dernière connexion pour les liens ou il avait interagi dans les dernière 24h 
                    .col-md-2.col-sm-6.col-xs-12   
                        if (sujet != "mes_liens" && sujet != "link")
                            a(href= "/?sujet=mes_liens")
                                .panel.panel-default
                                    .panel-heading.text-center
                                        div Mon Profil
                                        svg.bi.bi-person-circle(xmlns='http://www.w3.org/2000/svg' width='120' height='120' fill='Black' viewBox='0 0 16 16')
                                            path(d='M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z')
                                            path(fill-rule='evenodd' d='M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z')
                    br
                    br
                    br
                    .container.overflow-hidden(style='background-color:#a5c6d8;')
                        if (sujet == "mes_liens")
                            if(lien_page.length>0)
                                each liens in lien_page
                                    .panel.panel-default
                                            .panel-heading.text-center 
                                                .row
                                                    .col-md-4.col-sm-6.col-xs-12
                                                        a(href="/?sujet=link&link_id="+liens.link_id+"&edit=1")  
                                                            text Editer votre lien
                                                            svg.bi.bi-pencil-fill(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='Black' viewBox='0 0 16 16')
                                                                path(d='M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z')
                                                    .col-md-4.col-sm-6.col-xs-12
                                                        p=liens.name
                                                    .col-md-4.col-sm-6.col-xs-12
                                                        a(href="/?sujet=link&link_id="+liens.link_id) 
                                                            text Aller sur la page du lien 
                                                            svg.bi.bi-eye(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='Black' viewBox='0 0 16 16')
                                                                path(d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z')
                                                                path(d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z')
                                                br
                                                span.badge.bg-secondary  
                                                    a(href="/vote?sujet=mes_liens&link_id="+liens.link_id+"&upvote=1") 
                                                        if(liens.nb_up_link==0)   
                                                            svg.bi.bi-arrow-up-circle(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='White' viewBox='0 0 16 16')
                                                                path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                                        else 
                                                            svg.bi.bi-arrow-up-circle-fill(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='Orange' viewBox='0 0 16 16')
                                                                path(d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                                    text=liens.nb_upvote_link
                                                span.badge.bg-secondary    
                                                    a(href="/vote?sujet=mes_liens&link_id="+liens.link_id+"&downvote=1")    
                                                        if(liens.nb_down_link==0)
                                                            svg.bi.bi-arrow-down-circle(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='White' viewBox='0 0 16 16')
                                                                path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                                        else     
                                                            svg.bi.bi-arrow-down-circle-fill(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='Orange' viewBox='0 0 16 16')
                                                                path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                                    text=liens.nb_downvote_link 
                                            .panel-body.text-center 
                                                .row
                                                    .col-md-4.col-sm-6.col-xs-12
                                                    .col-md-4.col-sm-6.col-xs-12
                                                        text
                                                            u="Publié par " + liens.log_name + " :"
                                                    .col-md-4.col-sm-6.col-xs-12
                                                p=liens.content_link 
                                            .panel-footer
                                                if(liens.nb_com_link==0) 
                                                    //-Pas encore de commentaires
                                                    p="Aucun commentaire sur ce lien"
                                                else 
                                                    each coms in commentaires
                                                            each com in coms
                                                                div=com.log_name + " a écrit : " + com.content_com
                                                                span.badge.bg-secondary
                                                                    a(href="/vote?sujet=mes_liens&link_id="+liens.link_id+"&comment_id="+com.com_id+"&upvote=1")    
                                                                        svg.bi.bi-arrow-up-circle(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='White' viewBox='0 0 16 16')
                                                                            path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                                                        svg.bi.bi-arrow-up-circle-fill(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='Orange' viewBox='0 0 16 16')
                                                                            path(d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                                                    text=com.nb_upvote_com
                                                                span.badge.bg-secondary 
                                                                    a(href="/vote?sujet=mes_liens&link_id="+liens.link_id+"&comment_id="+com.com_id+"&downvote=1")    
                                                                        svg.bi.bi-arrow-down-circle(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='White' viewBox='0 0 16 16')
                                                                            path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                                                        svg.bi.bi-arrow-down-circle-fill(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='Orange' viewBox='0 0 16 16')
                                                                            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                                                    text=com.nb_downvote_com
                                                                br  
                            else 
                                //-Aucun lien partagé
                                .panel.panel-default
                                            .panel-heading.text-center 
                                                p=`Vous n'avez partagé aucun lien` 
                                            .panel-body.text-center 
                                                p=`Cliquez sur "Partager un lien" pour partager votre lien` 
                                                br
                                                p=`Ou bien découvrez les nombreux liens déjà partagés par la communauté`
                        if (sujet == "link")
                            .panel.panel-default
                                .panel-heading.text-center 
                                    a(href=lien_page[0].name)
                                        p=lien_page[0].name
                                    span.badge.bg-secondary  
                                        a(href="/vote?sujet=link&link_id="+lien_page[0].link_id+"&upvote=1") 
                                            if(lien_page[0].nb_up_link==0)   
                                                svg.bi.bi-arrow-up-circle(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='White' viewBox='0 0 16 16')
                                                    path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                            else   
                                                svg.bi.bi-arrow-up-circle-fill(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='Orange' viewBox='0 0 16 16')
                                                    path(d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                        text=lien_page[0].nb_upvote_link
                                    span.badge.bg-secondary    
                                        a(href="/vote?sujet=link&link_id="+lien_page[0].link_id+"&downvote=1")   
                                            if(lien_page[0].nb_down_link==0) 
                                                svg.bi.bi-arrow-down-circle(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='White' viewBox='0 0 16 16')
                                                    path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                            else 
                                                svg.bi.bi-arrow-down-circle-fill(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='Orange' viewBox='0 0 16 16')
                                                    path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                        text=lien_page[0].nb_downvote_link
                                    if(edit == 1)
                                        p Supprimer votre lien ici
                                        a(href="/edit?type_edition=1&link_id="+lien_page[0].link_id)   
                                                svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' viewBox='0 0 16 16')
                                                    path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                                                    path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
                                .panel-body.text-center 
                                    .row
                                        .col-md-4.col-sm-6.col-xs-12
                                        .col-md-4.col-sm-6.col-xs-12
                                            text
                                                u="Publié par " + lien_page[0].log_name + " :"
                                        .col-md-4.col-sm-6.col-xs-12
                                    p=lien_page[0].content_link
                                    if(edit == 1)
                                        form(action="/edit?edit=2&link_id="+lien_page[0].link_id method="POST") 
                                                p Modifier votre description ici
                                                div     
                                                    textarea(name="description" size="20")
                                                div  
                                                    input(type="submit" value="Valider")
                                .panel-footer
                                    if(lien_page[0].nb_com_link==0) 
                                        //-Pas encore de commentaires
                                        p="Aucun commentaire sur ce lien"
                                    else  
                                        each coms in commentaires
                                            each com in coms
                                                div=com.log_name + " a écrit : " + com.content_com
                                                span.badge.bg-secondary
                                                    a(href="/vote?sujet=link&link_id="+lien_page[0].link_id+"&comment_id="+com.com_id+"&upvote=1")    
                                                        svg.bi.bi-arrow-up-circle(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='White' viewBox='0 0 16 16')
                                                            path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                                        svg.bi.bi-arrow-up-circle-fill(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='Orange' viewBox='0 0 16 16')
                                                            path(d='M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z')
                                                    text=com.nb_upvote_com
                                                span.badge.bg-secondary 
                                                    a(href="/vote?sujet=link&link_id="+lien_page[0].link_id+"&comment_id="+com.com_id+"&downvote=1")    
                                                        svg.bi.bi-arrow-down-circle(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='White' viewBox='0 0 16 16')
                                                            path(fill-rule='evenodd' d='M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                                        svg.bi.bi-arrow-down-circle-fill(xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='Orange' viewBox='0 0 16 16')
                                                            path(d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z')
                                                    text=com.nb_downvote_com
                                                br  
                                                if(edit == 1)
                                                    a(href="/edit?comment_id="+com.com_id+"&type_edition=2&link_id="+lien_page[0].link_id)  
                                                        svg.bi.bi-trash(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='red' viewBox='0 0 16 16')
                                                            path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                                                            path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')
                                        if (!edit)
                                            form(action="/add_comment" method="POST") 
                                                div     
                                                    textarea(name="commentaire")
                                                div  
                                                    input(type='hidden' name='link_id' value=lien_page[0].link_id)
                                                    input(type='hidden' name='sujet' value='link')
                                                    input(type="submit" value="Ajouter mon commentaire")    
                                            if (lien_envoi == 5)
                                                p.text-warning Votre commentaire a été ajouté avec succès !
                                            if (lien_envoi == 4)
                                                p.text-danger Votre commentaire est vide ! 
                    div(style='position:sticky;bottom:5px;right:5px;margin:0;padding:5px 3px;')
                            form(action="/disconnect" method="POST") 
                                div
                                    input(type="submit" value="Déconnexion")
            else 
                //-Inscription et connexion              
                .container.overflow-hidden(style='background-color:#a5c6d8;')
                    if (inscription == 1)
                        .row
                            .col-md-4.col-sm-6.col-xs-12
                                .panel.panel-default
                                        .panel-heading.text-center  Inscription
                                        .panel-body
                                            form(action="/register" method="POST") 
                                                p Entrez votre pseudo (4 caractères minimum)
                                                div  
                                                    input(name="name_register")
                                                if (etat == 1)
                                                    p.text-danger Nom d'utilisateur trop court, réessayez.
                                                p Entrez votre email 
                                                div   
                                                    input(name="email_register")
                                                if (etat == 2)
                                                    p.text-danger Adresse e-mail non valide, réessayez.
                                                if (etat == 5)
                                                    p.text-danger Adresse e-mail déjà utilisée, réessayez.
                                                p Entrez votre mot de passe (6 caractères minimum) 
                                                div  
                                                    input(type = "password" ,name="password_register")
                                                if (etat == 3)
                                                    p.text-danger Mot de passe trop court, réessayez.  
                                                p Confirmez votre mot de passe 
                                                div     
                                                    input(type = "password" ,name="password_register_confirm")
                                                if (etat == 4)
                                                    p.text-danger Le mot de passe et sa confirmation sont différents, réessayez.
                                                div  
                                                    input(type="submit" value="S'inscrire")
                                                    img.img-fluid(src='https://media1.giphy.com/media/iFgzUCWgxj7B22ik2K/source.gif' alt='Responsive image' style='height: 25px')
                            .col-md-4.col-sm-6.col-xs-12
                            .col-md-4.col-sm-6.col-xs-12
                                .panel.panel-default
                                    .panel-heading.text-center  Connexion
                                    .panel-body
                                        p Déjà un compte ?
                                        a(href="/register?register=0")    
                                            input(type="submit" value="Connectez vous ici")
                                            img.img-fluid(src='https://media1.giphy.com/media/iFgzUCWgxj7B22ik2K/source.gif' alt='Responsive image' style='height: 25px')
                    else if ((inscription != 1) && (!lien))
                        .row
                            .col-md-4.col-sm-6.col-xs-12
                                .panel.panel-default
                                    .panel-heading.text-center  Connexion
                                    .panel-body 
                                        if (compteur > 0)
                                            p.text-danger Nom d'utilisateur ou mot de passe incorrect, réessayez.
                                        form(action="/login" method="POST") 
                                            p Entrez votre nom d'utilisateur ou adresse e-mail
                                            div     
                                                input(name="name")
                                            p Entrez votre mot de passe
                                            div     
                                                input(type = "password" ,name="password")
                                            div     
                                                input(type="submit" value="valider")
                                                img.img-fluid(src='https://media1.giphy.com/media/iFgzUCWgxj7B22ik2K/source.gif' alt='Responsive image' style='height: 25px')
                            .col-md-4.col-sm-6.col-xs-12
                            .col-md-4.col-sm-6.col-xs-12
                                .panel.panel-default
                                    .panel-heading.text-center  Inscription
                                    .panel-body 
                                        p C'est la première fois que vous vous connectez ? Inscrivez vous ici !
                                        a(href= "/register?register=1")    
                                                input(type="submit" value="S'inscrire")
                                                img.img-fluid(src='https://media1.giphy.com/media/iFgzUCWgxj7B22ik2K/source.gif' alt='Responsive image' style='height: 25px')
            

                                        